{% extends "layout.html" %}

{% block title %}
    Order History
{% endblock %}

{% block main %}

<table class="table table-hover table-sm" style="width: 80%; margin-left: auto; margin-right: auto;">
  <thead s>
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Order Status</th>
      <th scope="col">Pair</th>
      <th scope="col">Type</th>
      <th scope="col">Order Type</th>
      <th scope="col">Price</th>
      <th scope="col">Avg. Price</th>
      <th scope="col">Q. Filled</th>
      <th scope="col">Time UTC</th>
    </tr>
  </thead>
  <tbody>
    {% for i in order_history %}
      <tr>
        <td>{{i.order_id}}</td>
        <td>{{i.status}}</td>
        <td>{{i.pair}}</td>
        <td>{{i.type}}</td>
        <td>{{i.ordertype}}</td>
        <td>{{i.price|usd}}</td>
        <td>{{i.avg_price|usd}}</td>
        <td>{{i.quantity_filled}}</td>
        <td>{{i.time|timeformater}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}